
 h6 {
  text-transform: uppercase;
  color: #ffc4b0;
    float: right;
    padding: 10px;
    width: 40%;
    margin: 10px;

}
 h2 {
  text-transform: uppercase;
  color: #355c7d;
  font-weight: bold;
}

 body {
  color: #355c7d;
}

.row {
  margin-bottom: 30px;
  margin-top: 15px;
  margin-left: 5px;
  margin-right:5px;
  width:100%;
}
  section.each{
    margin: 10px;
  background-color: #F8B195;
  border: 2px solid #355c7d;
    padding: 0px;
  }

    p {
  clear: both;  
  padding: 5px;  
  text-align: left;   
  }

    #p1{
      background-color: #f67280;
 }
     #p2{
     background-color: #c06c84;
 }
     #p3{
     background-color: #81529c;
 }


/********** Large devices **********/
@media (min-width: 992px) {
 .col-lg-3 {
    float: left;
    width: 33.33%;
  }  
}

/********** Medium devices **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-4 {
    float: left;
    width: 50%;
  }
  .middle {
   width: 100%;
  }
}
